[Unit]
Description=Archive DB backups
After=network.target

[Service]
User=dbbackup
Group=dbbackup
ExecStart=archive_dumps
Nice=10

[Install]
WantedBy=multi-user.target
