[Unit]
Description=Daily DB Table Backup Service
After=network.target
Requires=mysql.service

[Service]
User=dbbackup
Group=dbbackup
ExecStart=serpent-surge-backup
Nice=10

[Install]
WantedBy=multi-user.target
